html, body{
  height: 100%;
}
body{
  font-family: Verdana, Geneva, sans-serif;
  background-attachment: fixed;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}
div{
  padding: 0px;

}
img {
    max-width: 100%;
    height: auto;
}
.glyphicon {
  position: relative;
  top: 1px;
  padding: 0px;
}
/*FONTS*/


.w3-allerta {
  font-family: "Allerta Stencil", Sans-serif;
}

.w3-red,.w3-hover-red:hover{color:#fff!important;background-color:#f44336!important}
/*HEAD BAR*/
.head-bar{
  padding: 2%;
  text-align: center;
  font-size: 4em;

  color: ;
}
@media (max-width: 400px) {
  .head-bar{
    font-size: 1.5em;
    padding: 1em;
  }
}

#welcome-note{
  text-align: center;
  font-size: 0.7em;
  padding: 0.5em;
  color: #111;
}

.introDiv{
  padding: 3em; 
  font-family: Verdana, Geneva, sans-serif;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.2em;
  line-height: 2em;
}
@media (max-width: 400px) {
  .introDiv{
  padding: 2em;
  text-align: left;
  font-size: 1em;
  line-height: 2em;
  }
}
.instructions{
  border-radius: 5px;
  font-size: 1.3em;
  padding: 5%;
  margin-left: 16%;
  margin-right: 16%;
  margin-bottom: 2%;
}
@media (max-width: 400px) {
  .instructions{
    font-size: 1em;
    padding-left: 0px;
    padding-right: 3%;
    margin: 0;
  }
}
#gmail{

    background-color: #555555;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
}
@media (max-width: 400px) {
  #gmail{
    padding: 5px 12px;
    font-size: 1.2em;
    margin: auto;
  }
}

/*Responsive Width Classes*/
.vj-xs-12 {
  width: 100%;
}
.vj-xs-11 {
  width: 91.66666667%;
}
.vj-xs-10 {
  width: 83.33333333%;
}
.vj-xs-9 {
  width: 75%;
}
.vj-xs-8 {
  width: 66.66666667%;
}
.vj-xs-7 {
  width: 58.33333333%;
}
.vj-xs-6 {
  width: 50%;
}
.vj-xs-5 {
  width: 41.66666667%;
}
.vj-xs-4 {
  width: 33.33333333%;
}
.vj-xs-3 {
  width: 25%;
}
.vj-xs-2 {
  width: 16.66666667%;
}
.vj-xs-1 {
  width: 8.33333333%;
}
@media (min-width: 768px) {
  .vj-sm-12 {
    width: 100%;
  }
  .vj-sm-11 {
    width: 91.66666667%;
  }
  .vj-sm-10 {
    width: 83.33333333%;
  }
  .vj-sm-9 {
    width: 75%;
  }
  .vj-sm-8 {
    width: 66.66666667%;
  }
  .vj-sm-7 {
    width: 58.33333333%;
  }
  .vj-sm-6 {
    width: 50%;
  }
  .vj-sm-5 {
    width: 41.66666667%;
  }
  .vj-sm-4 {
    width: 33.33333333%;
  }
  .vj-sm-3 {
    width: 25%;
  }
  .vj-sm-2 {
    width: 16.66666667%;
  }
  .vj-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .vj-md-12 {
    width: 100%;
  }
  .vj-md-11 {
    width: 91.66666667%;
  }
  .vj-md-10 {
    width: 83.33333333%;
  }
  .vj-md-9 {
    width: 75%;
  }
  .vj-md-8 {
    width: 66.66666667%;
  }
  .vj-md-7 {
    width: 58.33333333%;
  }
  .vj-md-6 {
    width: 50%;
  }
  .vj-md-5 {
    width: 41.66666667%;
  }
  .vj-md-4 {
    width: 33.33333333%;
  }
  .vj-md-3 {
    width: 25%;
  }
  .vj-md-2 {
    width: 16.66666667%;
  }
  .vj-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
.vj-lg-12 {
    width: 100%;
  }
  .vj-lg-11 {
    width: 91.66666667%;
  }
  .vj-lg-10 {
    width: 83.33333333%;
  }
  .vj-lg-9 {
    width: 75%;
  }
  .vj-lg-8 {
    width: 66.66666667%;
  }
  .vj-lg-7 {
    width: 58.33333333%;
  }
  .vj-lg-6 {
    width: 50%;
  }
  .vj-lg-5 {
    width: 41.66666667%;
  }
  .vj-lg-4 {
    width: 33.33333333%;
  }
  .vj-lg-3 {
    width: 25%;
  }
  .vj-lg-2 {
    width: 16.66666667%;
  }
  .vj-lg-1 {
    width: 8.33333333%;
  }
}   
